<footer>
           <div class="footer-content">
           <div class="contact-info">
            <h3>Contact Me</h3>
            <p>Phone: (123) 456-7890</p>
            <p>Email: info&commat;serenaphotography.com</p>
            
           </div>

           <div class="footer-nav">
            <h3>Quick Links</h3>
            <ul>
                <li><a routerLink="/portfolio">Gallery</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/awards">Awards</a></li>
                <li><a routerLink="/clients">Clients</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </div>


          <div class="icons-container">
            <a href="https://www.facebook.com/yourusername" class="icon-box facebook" target="_blank"
                rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/yourusername" class="icon-box instagram" target="_blank"
                rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/yourusername" class="icon-box twitter" target="_blank"
                rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
            <a href="https://www.tiktok.com/@yourusername" class="icon-box tiktok" target="_blank"
                rel="noopener noreferrer"><i class="fab fa-tiktok"></i></a>
            <a href="https://www.youtube.com/user/yourusername" class="icon-box youtube" target="_blank"
                rel="noopener noreferrer"><i class="fab fa-youtube"></i></a>
        </div>


        <div class="newsletter-signup">
            <h3>Newsletter Signup</h3>
            <form action="subscribe" method="post">
                <input type="email" name="email" placeholder="Your Email Address">
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2024 Serena Photography. All rights reserved.</p>
        <a routerLink="/privacy-policy" class="privacy-policy-link">Privacy Policy</a>

    </div>
</footer>