
<div class="hero-container-slide" style="background-image: url('../../assets/img/animals/china_monkey4.png');">
  <div class="hero-fade" style="background-image: url('../../assets/img/animals/china_monkey4.png');"></div>
  <div class="hero-fade" style="background-image: url('../../assets/img/animals/china_panda5.png');"></div>
  <div class="hero-fade" style="background-image: url('../../assets/img/animals/china_tiger2.png');"></div>
  <!-- <div class="hero-fade" style="background-image: url('../../assets/img/animals/china_monkey4.png');"></div> -->
  <div class="hero-content-slide">
    <h1>"Journey into the Wild:<br>
      With Serena Montgomery"</h1>
    <p>Welcome to the captivating world of wildlife through the lens of Serena Montgomery. A maestro in the art of wildlife photography, Serena brings to life the untamed beauty of our planet's most awe-inspiring creatures.</p>
  </div>
</div>

<!-- HERO WITHOUT FADE-EFFECT
<div class="hero-container">
  <div class="hero-content">
    <h1>"Journey into the Wild:<br>
      With Serena Montgomery"</h1>
    <p>Welcome to the captivating world of wildlife through the lens of Serena Montgomery. A maestro in the art of wildlife photography, Serena brings to life the untamed beauty of our planet's most awe-inspiring creatures.</p>
  </div>
</div> -->

<div class="news-container">
  <div class="news-content">
    <div class="news-text">
    <p>LATEST NEWS</p>
    <h2>Winner of the 2023 Picture of the Year Award</h2>
    <p>Serena Montgomery's remarkable talent and unwavering dedication have once again earned her the prestigious 2023 Picture of the Year Award. Her captivating wildlife photography continues to inspire awe and admiration, setting an unmatched standard of excellence in the field. The winning image portrays a serene giraffe family silhouetted against a golden sunset, radiating tranquility and intimacy. Serena's masterful depiction captures the unique bond between the giraffes, evoking a profound connection to the natural world.</p>
    <a routerLink="/awards"><button class="btn-news-read">Read more</button></a>
    </div>
    <div class="giraffe-container" style="margin-top: 15px;">
      <img src="../../assets/img/animals/africa_giraffe4.png">
    </div>
  </div>
</div>
<div class="news-container">
  <div class="resp-img">
    <img src="../../assets/img/animals/africa_giraffe4.png">
  </div>
</div>

<div class="bts-container">
<div class="bts-content">
    <p>MEET THE PHOTOGRAPHER</p>
    <h2>Behind the Scenes: Capturing Moments with Wild Cats and Elephants</h2>
    <p>Serena Montgomery's remarkable talent and unwavering dedication have once again earned her the prestigious 2023 Picture of the Year Award. Her captivating wildlife photography continues to inspire awe and admiration, setting an unmatched standard of excellence in the field. The winning image portrays a serene giraffe family silhouetted against a golden sunset, radiating tranquility and intimacy. Serena's masterful depiction captures the unique bond between the giraffes, evoking a profound connection to the natural world.</p>
    <a routerLink="/about"><button class="btn-news-readgr">Read more</button></a> 
</div>
</div>

<div class="bts-img-container">
  <div class="bts-img">
    <img src="../../assets/img/bts/img_bts6.png">
    <img src="../../assets/img/bts/img_bts7.png">
    <img src="../../assets/img/bts/img_bts3.png">
    <img src="../../assets/img/animals/china_panda4.png">
    <img src="../../assets/img/bts/img_bts9.png">
    <img src="../../assets/img/animals/china_monkey1.png">
  </div>
</div>

<div class="facts-container">
  <div class="facts-grid-content">
    <div><p>Years</p><span>10</span></div>
    <div><p>Clients</p><span>38</span></div>
    <div><p>Projects</p><span>150</span></div>
    <div><p>Awards</p><span>4</span></div>
  </div>
</div>

<div class="cards-container" style="background-color: var(--clr-darkgrey);">
  <div class="cards-content">
    <div class="cards">
      <div routerLink="/projects"  class="card" style="cursor: pointer;">
        <div class="content">
          <div class="back">
            <div class="back-content"style="background-image: url('../../assets/img/animals/panda.jpeg'); background-size:cover">  
              <svg stroke="#ffffff" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" height="50px" width="50px" fill="#ffffff">
      
                <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
        
                <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
        
                </svg>            
              <h2 style="color: white; font-size: 30px">
                Last Projects</h2>
            </div>
          </div>
          <div class="front">
            
            <div class="img">
              <div class="circle">
              </div>
              <div class="circle" id="right">
              </div>
              <div class="circle" id="bottom">
              </div>
            </div>
      
            <div class="front-content">
              <div class="description">
                <div class="title">
                  <p class="title" style="font-size: 15px;">
                    Explore my latest project! Click the card to visit the 'Last Project' page and discover the exciting details of my most recent work.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div routerLink="/awards" class="card" style="cursor: pointer;">
        <div class="content">
          <div class="back">
            <div class="back-content" style="background-image: url('../../assets/img/awards.jpeg'); background-size:cover">
              <svg stroke="#ffffff" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" height="50px" width="50px" fill="#ffffff">
      
              <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
      
              <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
      

      
              </svg>
              <h2 style="color: white; font-size: 30px">Awards</h2>
            </div>
          </div>
          <div class="front">
            
            <div class="img">
              <div class="circle">
              </div>
              <div class="circle" id="right">
              </div>
              <div class="circle" id="bottom">
              </div>
            </div>
      
            <div class="front-content">
              <div class="description">
                <div class="title">
                  <p class="title" style="font-size: 15px;">
                    Discover the accolades of my latest project! Click the card to visit the 'Last Project' page and explore the achievements and awards earned by this exciting endeavor.
                  </p>
                  <div class="card-bg"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div routerLink="/cutomers" class="card" style="cursor: pointer;">
        <div class="content">
          <div class="back">
            <div class="back-content" style="background-image: url('../../assets/img/serena-costumer.jpeg'); background-size:cover">
              <svg stroke="#ffffff" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" height="50px" width="50px" fill="#ffffff">
      
              <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
      
              <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
      

      
              </svg>
              <h2 style="color: white; font-size: 30px">Clients</h2>
            </div>
          </div>
          <div class="front">
            
            <div class="img">
              <div class="circle">
              </div>
              <div class="circle" id="right">
              </div>
              <div class="circle" id="bottom">
              </div>
            </div>
      
            <div class="front-content">
              <div class="description">
                <div class="title">
                  <p class="title" style="font-size: 15px;">
                    Explore the impact of my latest project on satisfied customers! Click the card to visit the 'Last Project' page and learn about the success stories and positive feedback from our valued customers.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</div>
</div>

<div class="bottom-container">
  <div class="bottom-content">
    <div class="img-container">
      <img src="../../assets/img/news.jpeg">
    </div>
      <div class="bottom-text">
      <p>JOIN SERENA'S JOURNEY</p>
      <h2>Explore nature's majesty</h2>
      <p>Step into Serena's captivating world of photography, where every image serves as a window into her deep-rooted affinity for the natural world. Each photograph is a poignant reflection of her profound connection with nature, inviting you to embark on a visual journey filled with wonder and awe.
        <br><br>
        Immerse yourself in Serena's portfolio, where each image is a testament to her profound connection with nature. From the majestic stride of a big cat to the delicate dance of a hummingbird, Serena's ability to capture the essence of wildlife is unparalleled.
        <br><br>
        As you explore Serena's portfolio, you'll find yourself immersed in the beauty and intricacies of wildlife captured with unparalleled skill and passion. Let her images inspire you to cherish and preserve the precious wonders of our natural world, reminding us all of the importance of coexistence and conservation.</p>
      <a routerLink="/portfolio"><button class="btn-news-read">Read more</button></a>
      </div>
    </div>
</div>
<div class="bottom-container">
  <div class="resp-img">
    <img src="../../assets/img/news.jpeg">
  </div>
</div>


<!-- <div class="bottom1-container">
<div class="news">
    <div class="pic"></div>
    <p>TAKE A LOOK AT SERENA'S ADVENTURES</p>
    <h2>Explore nature's majesty</h2>
    <div class="news-txt">
      Immerse yourself in Serena's portfolio, where each image is a testament to her profound connection with nature. From the majestic stride of a big cat to the delicate dance of a hummingbird, Serena's ability to capture the essence of wildlife is unparalleled. <br><br><span routerLink="/portfolio" class="read">Read more...</span>
    </div>
</div>
</div> -->

<!-- START TESTIMONIALS, DANIJELA -->

<div class="testimonials">
  <div *ngFor="let val of clients; index as i" [@fade]="val?.visible ? 'visible' : 'hidden'">
    <div class="testimonials-container">
        <div class="card-inner">
            <div class="card-top">
                <img src="/assets/clients/{{ val.img }}" alt="{{ val.company }}">
                <div>
                  <h2>{{ val.name }}</h2>
                  <p>{{ val.company }}, {{ val.position }}</p>
                  <p class="shortTest">"{{ val.shortTestimonial }}"</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
