<div class="hero"> 
    <div class="hero-content">
        <h1 class="name">Serena Montgomery</h1>
        <p class="intro">   
            Introducing Serena Montgomery, a passionate and seasoned wildlife photographer with an unwavering commitment to capturing the raw beauty of the natural world. With an artist's eye and a deep love for adventure, Serena seamlessly blends technical expertise with a profound connection to the wilderness. 
        </p>
    </div>
</div>

<div class="main-content">

    <div class="main-left">
        <h3>Serenas Equipment:</h3>
        <ul>
            <li>
                <b>Camera Body</b>
                <p>Canon EOS-1D X Mark III</p>    
            </li>    
            <li>
                <b>Lenses</b>
                <p>Canon EF 100-400mm f/4.5-5.6L IS II USM, Sigma 14-24mm f/2.8 DG HSM Art</p>
            </li>
            <li>
                <b>Tripod</b> 
                <p>Gitzo GT3543LS Systematic Carbon Fiber Tripod</p>
            </li>
            <li>
                <b>Camera Bag</b>
                <p>Lowepro ProTactic BP 450 AW II</p>
            </li>    
            <li>
                <b>Accessories</b>
                <p>Extra camera batteries, high-speed memory cards, lens cleaning kit, rain covers.</p>
            </li>
        </ul>
    </div>
     
    <div class="main-middle">
        <h1>About Serena</h1>
        <p>Hey there, I'm Serena Montgomery, a wildlife photographer with a passion for capturing the untamed beauty of our planet. My journey into photography began unexpectedly, sparked by a backpacking trip through Africa in my early twenties. It was there, amidst the breathtaking landscapes and majestic wildlife, that I discovered the transformative power of photography.
        <br><br>
        Fast forward a few years, and here I am, living out my wildest dreams as a National Geographic photographer. Every day, I'm privileged to roam the globe, seeking out the most remote and awe-inspiring corners of our world to document its wonders.
        <br><br>
        My work with National Geographic has taken me to some incredible places, from the misty jungles of China to the vast savannas of Africa. Armed with my camera and fueled by curiosity, I've had the privilege of witnessing some truly extraordinary moments in the natural world.
        <br><br>
        Through my work, I hope to inspire others to see the beauty and wonder that surrounds us and to join me in the effort to preserve and protect it for future generations. So here's to the wild ones, the ones who roam free and defy our expectations. And here's to the power of photography to capture their spirit and share it with the world. Thanks for joining me on this wild ride—I can't wait to see where the journey takes us next.</p>
    </div>

    <div class="main-right">
        <div class="side-images">
            <div class="card" id="side-card">
                <img class="card-img" src="../../assets/img/about-hero-img.jpeg">
                <div class="card-footer"><p><span>The Namib Desert,</span> Serena in the sand dunes of Namib Desert.</p></div>
            </div>
        
            <div class="card">
                <img class="card-img" src="../../assets/img/serena-side.jpeg">
                <div class="card-footer"><p><span>Maasai Mara National Reserve,</span> against rolling plains and acacia trees.</p></div>
            </div>
        </div>
    </div>

    <div class="resp-main-left">
        <h3>Serenas Equipment:</h3>
        <ul>
            <li>
                <b>Camera Body</b>
                <p>Canon EOS-1D X Mark III</p>    
            </li>    
            <li>
                <b>Lenses</b>
                <p>Canon EF 100-400mm f/4.5-5.6L IS II USM, Sigma 14-24mm f/2.8 DG HSM Art</p>
            </li>
            <li>
                <b>Tripod</b> 
                <p>Gitzo GT3543LS Systematic Carbon Fiber Tripod</p>
            </li>
            <li>
                <b>Camera Bag</b>
                <p>Lowepro ProTactic BP 450 AW II</p>
            </li>    
            <li>
                <b>Accessories</b>
                <p>Extra camera batteries, high-speed memory cards, lens cleaning kit, rain covers.</p>
            </li>
        </ul>
    </div>
</div>     

<div class="main-bottom">
    <div class="grid-bottom">
        <div class="card-bottom">
            <div class="img-holder">
                <img class="card-img" src="../../assets/img/serena-wildcat.png">
            </div>
            <div class="card-footer"><p><span>Behind the scenes</span><br>First shot with small leopards in Okavango Delta, Botswana.</p></div>
        </div>
    
        <div class="card-bottom">
            <div class="img-holder">

            <img class="card-img" id="second-img" src="../../assets/img/serena-2wildcats.png">
            </div>
            <div class="card-footer"><p><span>Behind the scenes</span><br>Rare shot, very near to 2 little wildcats in Botswana.</p></div>
        </div>

   
        <div class="card-bottom">
            <div class="img-holder">
            <img class="card-img" src="../../assets/img/serena-elephant.png">
            </div>
            <div class="card-footer"><p><span>Behind the scenes</span><br>Capturing a unique moment in front of an elephant in the Serengeti National Park of Tanzania .</p></div>
        </div>
    
        <div class="card-bottom">
            <div class="img-holder">
            <img class="card-img" src="../../assets/img/serena-stroke.png">
            </div>
            <div class="card-footer"><p><span>Behind the scenes</span><br>Serena stroking the head of an harmless tamed elephant.</p></div>
        </div>
    </div>
</div>
