<div class="logo-container">
  <a routerLink="/">
    <img src="../../assets/img/CR4-logo.png" alt="Serena Montgomery Wilflife Photography">
  </a>
  <div class="content-right">
    <!-- <p>National Geographic 'Picture of the year' Winner 2023</p>
    <br> -->
    <div class="search-bar">
      <div class="search-container">
        <form action="/search" method="GET" class="search-group">
          <input type="text" name="search" placeholder="Search..." class="search-input">
          <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
<nav class="navbar">
  <ul class="nav-menu">
    <li class="nav-item"><a routerLink="/" class="nav-link">Home</a></li>
    <li class="nav-item"><a routerLink="/about" class="nav-link">About</a></li>
    <li class="nav-item"><a routerLink="/portfolio" class="nav-link">Portfolio</a></li>
    <li class="nav-item"><a routerLink="/projects" class="nav-link">Projects</a></li>
    <li class="nav-item"><a routerLink="/awards" class="nav-link">Awards</a></li>
    <li class="nav-item"><a routerLink="/clients" class="nav-link">Clients</a></li>
    <li class="nav-item"><a routerLink="/contact" class="nav-link">Contact</a></li>

  </ul>








</nav>