<div class="container">
    <div class="button type1" style="cursor: pointer;">
        <span style="-webkit-backdrop-filter: blur(5px);
        " class="country">China</span>
    </div>
    <div class="countries">
        <div class="china">
            <img style="user-select: none;" class="crane" src="../../assets/img/animals/china_kranich1.png" alt="">
            <img style="user-select: none;" class="monkey" src="../../assets/img/animals/china_monkey1.png" alt="">
            <img style="user-select: none;" class="panda" src="../../assets/img/animals/china_panda1.png" alt="">
        </div>
        <div class="africa">
            <img style="user-select: none;" class="cheetah" src="../../assets/img/animals/africa_cheetah1.png" alt="">
            <img style="user-select: none;" class="giraffe" src="../../assets/img/animals/africa_giraffe1.png" alt="">
            <img style="user-select: none;" class="lion" src="../../assets/img/animals/africa_lion1.png" alt="">
            <img style="user-select: none;" class="zebra" src="../../assets/img/animals/china_zebra1.png" alt="">
        </div>
    </div>
</div>
