<div class="project-hero-container">
    <div class="project-hero-content">
        <h1>"In the Heart of Nature:<br>
            Inspiring Wildlife Expeditions"</h1>
        <p>In this section Selena Montgomery's profound connection with wildlife photography. With China and Africa as her latest destinations, Selena passionately captures the essence of wild creatures in their natural habitats, portraying their unique personalities through her lens with heartfelt dedication and reverence.</p>
    </div>
</div>

<div class="quote-container">
    <div class="quote-content">
        "New countries bring new perspectives, each journey enriching my soul with the beauty of diversity and the thrill of the unknown."
    </div>
</div>

<div class="china-container">
    <div class="china-content">
        <img src="../../assets/img/animals/china_panda1.png">
        <div>
        <h2>Exploring China's Wild Side:<br>
            An Adventure in Nature</h2>
        <p>Serena's journey through China was a testament to her deep reverence for its culture and biodiversity. Each moment spent with graceful cranes, gentle pandas, and lively monkeys filled her with awe. Through her photography, she endeavored to preserve the splendor of China's wildlife, a mission she accomplished with passion and dedication, capturing the heart of this enchanting country.</p>
        <p>Moreover, Serena's immersion in China's diverse culture left an indelible mark on her. She found herself captivated by the intricate rituals, profound philosophies, and vibrant traditions woven into the fabric of everyday life. From sampling regional cuisines to partaking in ancient ceremonies, Serena embraced each opportunity to learn and connect with the people and traditions of China. Her journey not only enriched her photography but also expanded her understanding of the world, leaving her with cherished memories and a deep appreciation for the beauty of cultural diversity.</p>
        <a routerLink="/portfolio"><button class="btn-proj-seemore">See more</button></a>
        </div>

    </div>
</div>
<div class="china-container">
    <div class="resp-content">
      <img src="../../assets/img/animals/china_panda1.png">
    </div>
</div>

<div class="china-img-container">
    <div class="china-img">
        <img src="../../assets/img/animals/china_tiger1.png">
        <img src="../../assets/img/animals/china_monkey1.png">
        <img src="../../assets/img/animals/china_kranich2.png">
        <img src="../../assets/img/animals/china_panda4.png">
        <img src="../../assets/img/animals/china_tiger3.png">
        <img src="../../assets/img/animals/china_monkey1.png">
    </div>
</div>

<div class="africa-container">
    <div class="africa-content">
        <div>
        <h2>African Adventures:<br>
            Capturing Nature's Majesty</h2>
        <p>Drawn by the untamed beauty of Africa, Serena embarked on an unforgettable journey. Inspired by the rich tapestry of African culture and the raw majesty of its landscapes, she sought to capture the essence of its iconic wildlife. From the regal presence of lions to the gentle grace of elephants, each encounter filled her with reverence. Through her lens, Serena endeavored to preserve Africa's magnificence, succeeding in immortalizing its splendor in every frame. </p>
        <p>Moreover, Serena's journey through Africa offered profound insights into the continent's rich tapestry of cultures. Immersed in the traditions and customs of diverse communities, she learned the value of community, resilience, and connection to the land. From the rhythmic beats of tribal dances to the warmth of village hospitality, Serena's experiences deepened her appreciation for the human spirit and the interconnectedness of all life. Each interaction became a cherished chapter in her journey, enriching her understanding of the world and inspiring her to continue bridging cultures through her photography.</p>
        <a routerLink="/portfolio"><button class="btn-proj-seemore">See more</button></a>
        </div>
        <img src="../../assets/img/animals/africa_zebra3.png">
    </div>
</div>
<div class="africa-container">
    <div class="resp-content">
      <img src="../../assets/img/animals/africa_zebra3.png">
    </div>
</div>

<div class="africa-img-container">
    <div class="africa-img">
        <img src="../../assets/img/animals/africa_cheetah1.png">
        <img src="../../assets/img/animals/africa_giraffe2.png">
        <img src="../../assets/img/animals/africa_elephant3.png">
        <img src="../../assets/img/animals/africa_zebra1.png">
        <img src="../../assets/img/animals/africa_lion2.png">
        <img src="../../assets/img/animals/africa_cheetah3.png">
    </div>
</div>

<div class="next-container">
    <div class="next-content">
        <h2>Her next adventure</h2>
        <p>Serena's next adventure is already in the making. Plans are underway, and the necessary equipment has been assembled. While details remain undisclosed, one thing is certain: Serena will venture deep into the forests, ready to capture the untamed beauty that lies within</p>
    </div>
</div>